@import "../../../styles/global.scss";

.root {
  border: 1px solid $productsearch-border;
  display: inline-flex;
  height: 45px;
  color: $productsearch-text;
  font-size: 14px;

  .category {
    border-right: 1px solid $productsearch-category-border;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 35px;

    .icon:first-child {
      color: $productsearch-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    a {
      text-decoration: none;
    }

    li {
      list-style: none;
    }

    ul {
      display: none;
      position: absolute;
      transition: 0.5s ease-in-out;
      background-color: white;
      width: 100%;
    }
  }

  .category:hover {
    ul {
      top: 42px;
      left: 0;
      display: block;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.15);
      z-index: 999;
    }
    ul li {

      select {
        -webkit-appearance: none;
        border: 0;
        background-color: $productsearch-select-bcg;
        padding: 5px 30px 5px 35px;
        position: relative;
      
          a {
            width: 100%;
            padding: 5px 2px;
          }
      
      }
    }
    
    ul li ul {
      display: none;   
    }
    
    ul li:hover ul {
      display: block;
      position: absolute;
      left: 170px;
      top: 0;
    }
  }
  
  .searchField {
    display: flex;
    align-items: center;
    position: relative;

      input {
        border: 0;
        padding-left: 10px;
        font-size: 14px;
        outline: none;

      &::placeholder {
        color: $productsearch-placeholder;
      }

    button {
      border: 0;
      background-color: $button-bcg;
      outline: none;
    }
    }
  }

  @include small {
    display: flex;
    font-size: 12px;

    .category {
      width: 50%;
      padding: auto;
    }

    input {
      width: 100%;

      &::placeholder {
        font-size: 12px;
      }
    }
  }
  @include extra-small {
    font-size: 10px;

    .category {
      width: 75%;
      padding-left: 12%;
      padding-right: 2%;
    }

    input {
      width: 100%;

      &::placeholder {
        font-size: 10px;
      }
    }
  }
}
