@charset "UTF-8";
.root {
  padding: 5rem 0;
  /* tekst i overlay dużego zdjęcia po lewej stronie komponentu */
  /* mniejsze zdjęcie po prawej od góry; tekst podzielony - osobne style dla każdego słowa, według grafiki projektu  */
  /* mniejsze zdjęcie po prawej od dołu; tekst podzielony - osobne style dla text_2 i spanu, według grafiki projektu */
  /* style dla każdego zdjęcia w komponencie */
}

.root .bigLeft {
  position: relative;
  height: 500px;
}

.root .bigLeft .overlay {
  position: absolute;
  background-color: #d8d6d6;
  opacity: 60%;
  height: 90%;
  width: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.root .bigLeft .opacityText {
  position: absolute;
  text-align: left;
  width: 90%;
  height: 90%;
  font-size: 45px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f5efef;
  top: 95%;
  left: 55%;
  font-weight: 450;
}

.root .bigLeft .opacityText p {
  margin-bottom: -5px;
}

.root .bigLeft .opacityText span {
  font-size: 40px;
  font-weight: bolder;
}

.root .bigLeft .opacityText .percents {
  text-align: center;
  border: 3px solid #f5efef;
  max-width: 35%;
  padding: 4px;
}

.root .smallRightUp {
  height: 240px;
  margin-bottom: 10px;
}

.root .smallRightUp p {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  left: 40%;
  font-size: 40px;
  text-align: left;
  color: #0c0c0c;
  font-weight: 450;
}

.root .smallRightUp .text_2 {
  font-weight: 200;
  left: 61%;
  font-size: 40px;
}

.root .smallRightUp span {
  position: absolute;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 15px;
  top: 50%;
  left: 28%;
}

.root .smallRightUp .money {
  color: #e08e22;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 75%;
  left: 40%;
  position: absolute;
  font-weight: 450;
  font-size: 35px;
}

.root .smallRightDown {
  height: 240px;
  margin-top: 10px;
}

.root .smallRightDown p {
  position: absolute;
  color: #e08e22;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
  font-size: 30px;
  text-align: left;
  font-weight: 450;
}

.root .smallRightDown .text_2 {
  color: #e08e22;
  font-weight: 200;
  left: 65%;
  font-size: 30px;
}

.root .smallRightDown span {
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  top: 60%;
  left: 30%;
}

.root .image {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
